
<div class="container">
    <div class="jumbotron">
      <div class="row">
        <aside class="col-sm-12 ">
          <div class="card" >
  
            <article class="card-body">
              <h2 class="card-title text-center mb-12 mt-1 ">Add Supplier</h2>
              <hr>
              <div class="container">
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="form-group col-md-6">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text "> <i class="fa fa-user-o" aria-hidden="true"></i> </span>
                      </div>
                      <!-- <input name="productName" class="form-control" placeholder="Enter Supplier Name" type="text"
                        name="productName"> -->
                        <mat-form-field class="example-full-width">
                            <textarea matInput placeholder="name"></textarea>
                          </mat-form-field>
                    </div>
                    <br>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-building-o" aria-hidden="true"></i> </span>
                      </div>
                     <!--  <input name="productCode" class="form-control" placeholder="Enter Supplier Company Name " type="text"
                        name="productCode"> -->
                        <mat-form-field class="example-full-width">
                            <textarea matInput placeholder="companyname"></textarea>
                          </mat-form-field>
                    </div>
                    <br>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-address-card-o" aria-hidden="true"></i> </span>
                      </div>
                     <!--  <input name="productHSNCode" class="form-control" placeholder="Enter Supplier Address" type="text" name="productHSNCode"> -->
                     <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="address"></textarea>
                      </mat-form-field>
                    </div>
                    <br>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-address-card-o" aria-hidden="true"></i></span>
                      </div>
                      <!-- <input name="district" class="form-control" placeholder="Enter Supplier District" type="text" name="Brand"> -->
                      <mat-form-field class="example-full-width">
                          <textarea matInput placeholder="district"></textarea>
                        </mat-form-field>
                    </div>
                    <br>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-address-card-o" aria-hidden="true"></i></span>
                      </div>
                      <!-- <input name="state" class="form-control" placeholder="Enter Supplier State" type="text" name="Brand"> -->
                      <mat-form-field class="example-full-width">
                          <textarea matInput placeholder="state"></textarea>
                        </mat-form-field>
                    </div>
                    <br>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-address-card-o" aria-hidden="true"></i> </span>
                      </div>
                    <!--   <input name="country" class="form-control" placeholder="Enter Supplier Country" type="text" name="Brand">-->      
                      <mat-form-field class="example-full-width">
                          <textarea matInput placeholder="country"></textarea>
                        </mat-form-field>
                      </div>
                    
                    <br>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i> </span>
                      </div>
                      <!-- <input name="date" class="form-control" placeholder="Enter Date" type="text" name="Brand"> -->
                      <mat-form-field class="example-full-width">
                          <textarea matInput placeholder="date"></textarea>
                        </mat-form-field>
                    </div>
                  </div>
                 <br><br>
               </div>
                
              <br>
  
                <div class="row">
                    <div class="form-group col-md-2"></div>
                  <button class="btn btn-success btn-lg col-md-3">Submit</button>
                  <div class="form-group col-md-2"></div>
                  <button class="btn btn-warning btn-lg col-md-3">reset</button>
                </div>
              </div>
            </article>
          </div> 
      </aside>
      </div>
    </div>
  