.myDiv {
    height: 50px;
    width: 1000px;
    color: #fafafa;
    align-content: center;
    text-align: center;
    background-color: orange;
}

.myD {
    height: 50px;
    width: 1100px;
    color: #fafafa;
    align-content: center;
    text-align: center;
    background-color: whitesmoke;
}
.myDiv2 {
    width: 500px;
    height: 500px;
}

.myDiv3 {
    width: 1100px;
}
.mat-toolbar{
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}