<div class="main-content">
    <div class="container-fluid">
            <div class="row">
                    <div class="col-lg-4 col-md-2 col-sm-2">
                        <div class="card card-stats">
                            <div class="card-header card-header-warning card-header-icon">
                                <div class="card-icon">
                                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                                </div>
                                <p class="card-category">Total Coustmer</p>
                                <h3 class="card-title">52
        
                                </h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">update</i> Just Updated
                                    <!-- <a href="addcoustmer"> </a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-2 col-sm-2">
                        <div class="card card-stats">
                            <div class="card-header card-header-success card-header-icon">
                                <div class="card-icon">
                                    <i class="fa fa-usd" aria-hidden="true"></i>
                                </div>
                                <p class="card-category">Total Sale</p>
                                <h3 class="card-title">$10,000</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">date_range</i> Last 24 Hours
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-2 col-sm-2">
                        <div class="card card-stats">
                            <div class="card-header card-header-danger card-header-icon">
                                <div class="card-icon">
                                    <i class="fa fa-product-hunt" aria-hidden="true"></i>
                                </div>
                                <p class="card-category">Total Product</p>
                                <h3 class="card-title">45</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">update</i> Just Updated
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-2 col-sm-2">
                        <div class="card card-stats">
                            <div class="card-header card-header-info card-header-icon">
                                <div class="card-icon">
                                    <i class="fa fa-percent" aria-hidden="true"></i>
                                </div>
                                <p class="card-category">Total Discount</p>
                                <h3 class="card-title">$1000</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">update</i> Just Updated
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-2 col-sm-2">
                        <div class="card card-stats">
                            <div class="card-header card-header-icon card-header-icon">
                                <div class="card-icon">
                                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                                </div>
                                <p class="card-category">Total Expenses</p>
                                <h3 class="card-title">$1500</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">update</i> Just Updated
                                </div>
                            </div>
                        </div>
                    </div> 
        
                    <div class="col-lg-4 col-md-2 col-sm-2">
                        <div class="card card-stats">
                            <div class="card-header card-header-warning card-header-icon">
                                <div class="card-icon">
                                    <i class="fa fa-bolt" aria-hidden="true"></i>
                                </div>
                                <p class="card-category">Top Expenses</p>
                                <h3 class="card-title">$245</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">update</i> Just Updated
                                </div>
                            </div>
                        </div>
                    </div>
        
                </div>
                
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-2 col-sm-2">

                    <div class="card card-stats">
                        <div style="text-align: center" class="card-header card-header-info card-header-icon">
                            <!-- <div class="card-icon">
                                                    <i class="fa fa-twitter"></i>
                                                </div>
                                                <p class="card-category">Popular Product</p>
                                                <h3 class="card-title">Popular Product</h3> -->
                            <button mat-fab class="navbar-toggler" color="warn" type="button"><i class="fa fa-list-alt"
                                    aria-hidden="true"></i></button>
                            <br><label>
                                <h3>Create Bill</h3>
                            </label>
                        </div>

                        <div style="text-align: center" class="card-header card-header-info card-header-icon">
                            <!-- <div class="card-icon">
                                                    <i class="fa fa-twitter"></i>
                                                </div>
                                                <p class="card-category">Popular Product</p>
                                                <h3 class="card-title">Popular Product</h3> -->
                            <button mat-fab class="navbar-toggler" color="warn" type="button"><i class="fa fa-list-alt"
                                    aria-hidden="true"></i></button>
                            <br><label>
                                <h3>Create Purchase</h3>
                            </label>
                        </div>

                        <div class="card-footer">
                            <div class="stats">
                                <div class="row">
                                    <!-- <button  mat-fab class="navbar-toggler"  type="button" ><i class="fa fa-list-alt" aria-hidden="true"></i></button> -->
                                    <!-- <button class="md-icon-button" aria-label="More">
                                                                <icon md-svg-icon="img/icons/more_vert.svg"></icon>
                                                              </button> -->
                                    <!-- <button mat-raised-button color="accent">
                                                                    <mat-icon>mic</mat-icon>
                                                                    Start Recording
                                                                </button> -->
                                    <button class="user" mat-icon-button color="warn">
                                        <i class="fa fa-user fa-3x" aria-hidden="true"></i>
                                    </button>

                                    <button class="user" mat-icon-button color="warn">
                                        <i class="fa fa-gift fa-3x" aria-hidden="true"></i>
                                    </button>

                                    <!-- <i class="material-icons">update</i> Just Updated -->
                                    <button class="user" mat-icon-button color="warn">
                                        <i class="fa fa-cart-plus fa-3x" aria-hidden="true"></i>
                                    </button>
                                    <button class="user" mat-icon-button color="warn">
                                        <i class="fa fa-credit-card fa-3x" aria-hidden="true"></i>
                                    </button>
                                    <br>
                                   

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-4 col-sm-1">
                    <div class="container">
                        <div class="row">
                            <div class="card card-chart">
                                <div class="card-header card-header-success">
                                    <div class="ct-chart" id="dailySalesChart"></div>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Sales Summary</h4>
                                    <p class="card-category">
                                        <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span>
                                        increase in
                                        today
                                        sales.</p>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">access_time</i> updated 4 minutes ago
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-4">
                                <div class="card card-stats">
                                    <div class="card-header card-header-info card-header-icon">
                                        <div class="card-icon">
                                            <i class="fa fa-line-chart" aria-hidden="true"></i>
                                        </div>
                                        <p class="card-category">Purchase Summary</p>
                                        <h3 class="card-title">$34,245 </h3>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">
                                            <i class="material-icons">date_range</i> Last 24 Hours
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-6 col-md-4">
                                <div class="card card-stats">
                                    <div class="card-header card-header-icon card-header-icon">
                                        <div class="card-icon">
                                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                        </div>
                                        <p class="card-category">Popular Product</p>
                                        <h3 class="card-title">Product Name</h3>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">
                                            <i class="material-icons">date_range</i> Last 24 Hours
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h1>col first</h1>
                </div>
                <div class="col-md-8">
                    <h1>col second</h1>
                    <div class="container">
                        <div class="row">
                            <h2>first row of second column</h2>
                        </div>
                        <div class="row">
                            <h2>second row of second column
                        </div>
                    </div>
                </div>
            </div>
        </div> -->