.navbar-toggler{
     margin-top: 20px;
    /*margin-right: 100px; */
    line-height: 5.6rem;
    min-width: 0;
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;
}
.user{
    margin-left: 6px;
    line-height: 2.6rem;
    min-width: 0;
    width: 4.6rem;
    height: 4.6rem;
}
/* .labels{
    margin-left: 8px;
} */