.container{
    width: 1050px;
    height: 30px;
    color: cornsilk;
    align-content: center;
   text-align: center;
    background-color:black;
}
 .mat-table{
     width: 1000px;
     //margin-left: 20px;
     margin-top: 20px;
     align-items: center;
 }