
<div class="container">
  <h3 style="text-align:center"><b>Sale Report</b></h3>
</div>
<!-- <mat-form-field>
<input matInput (keyup)="applyFilter($event.target.value)" placeholder="sale Report">
</mat-form-field>  -->

  
    <div mat-dialog-content>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container> 
  
      <!-- invoiceNo Column -->
     <ng-container matColumnDef="invoiceNo">
      <th mat-header-cell *matHeaderCellDef>InvoiceNo. </th>
      <td mat-cell *matCellDef="let element"> {{element.invoiceNo}} </td>
    </ng-container>

      <!-- Total Amount  Column -->
<ng-container matColumnDef="totalAmount">
  <th mat-header-cell *matHeaderCellDef>Total Amount </th>
  <td mat-cell *matCellDef="let element"> {{element.totalAmount}} </td>
</ng-container>

<!-- Branch Name Column -->
<ng-container matColumnDef="branchName">
  <th mat-header-cell *matHeaderCellDef>Branch Name </th>
  <td mat-cell *matCellDef="let element"> {{element.branchInformation.branchName}} </td>
</ng-container>

 <!-- Branch Name Column -->
 <ng-container matColumnDef="relationshipExecutiveName">
  <th mat-header-cell *matHeaderCellDef>RE Name </th>
  <td mat-cell *matCellDef="let element"> {{element.executiveInformation.relationshipExecutiveName}} </td>
</ng-container>

  <!-- Customer Id Column -->
  <ng-container matColumnDef="customerId">
    <th mat-header-cell *matHeaderCellDef>Customer Id </th>
    <td mat-cell *matCellDef="let element"> {{element.customerId}} </td>
  </ng-container>
  
<!-- Customer Name Column -->
  <ng-container matColumnDef="customerName">
  <th mat-header-cell *matHeaderCellDef>Customer Name</th>
  <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
</ng-container> 


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
</div>
