.example-button-row button,
.example-button-row a {
  margin-right: 8px;
  width: 100%;
}
.mat-form-field-wrapper{
  margin: 10px;
}
.example-viewport {
  height: 80%;
  width: 100%;
  border: 1px solid black;
}

.example-item {
  height: 50px;
}

.proDesign{
  width: 25%;
}